/* Sets the width and height of the HTML and body elements to cover the entire viewport, removing default margins */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Applies global styling to the body element */
body {
  font-family: "Roboto", Arial, sans-serif !important; /* Sets the default font family with Roboto as the primary choice */
  -webkit-font-smoothing: antialiased; /* Enhances the appearance of fonts on macOS and iOS */
  -moz-osx-font-smoothing: grayscale; /* Further smooths fonts on Firefox on macOS */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* Creates a vibrant, multi-color gradient background */
  background-size: 400% 400%; /* Scales the background size to create a dynamic color flow effect */
  animation: gradient 15s ease infinite; /* Animates the background gradient to shift smoothly over 15 seconds indefinitely */
}

/* Defines the animation behavior named 'gradient' */
@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Starts the gradient's position */
  }
  50% {
    background-position: 100% 50%; /* Moves the gradient to create a shifting effect */
  }
  100% {
    background-position: 0% 50%; /* Returns the gradient to the starting position for a seamless loop */
  }
}

/* Styles for elements marked with <code> to use a monospaced font family, useful for displaying code snippets */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
